@mixin flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin boxShadow{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@mixin iconShadow{
    box-shadow: 2px 1px 5px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 5px 5px rgba(0,0,0,0.75);
}

@mixin colorGradient{
    background: #4300ff;
background: linear-gradient(92deg,#4300ff 0%, #00e0ff 80%);
background: -webkit-linear-gradient(92deg,#4300ff 0%, #00e0ff 80%);
background: -moz-linear-gradient(92deg,#4300ff 0%, #00e0ff 80%);
}