$font-family: 'Varela Round', sans-serif;
$color-white: #fff;
$color-black: rgb(8, 8, 8);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
// $color-violet: rgba($color: #9b0ebe, $alpha: 1.0);

$color-violet: rgba($color: #1e3ef0, $alpha: 1.0);
